/* Padding for the nav bar */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}
.collapsed {
    height: 0px;
}

/* Jumbotron is the name of the intro bar*/
/* Override Jumbotron attributes */
.jumbotron {
    padding: 10px;
    padding-bottom: 0px;
}

.down-arrow {
    text-align: center;
}

/* Main grid container*/
.layout {
    margin-top: 25px
}

/* Individual grid boxes */
.network-grid {
    height: 70vh;
}

.col1-border { border-right: 1px solid black; }
.col3-border { border-left: 1px solid black; }

/* Dialog */
.iconsize {
    width: 40px;
    height:40px;
}

/* General CSS*/
.invisible { display:none; }
.opacity0 { opacity:0; }
.opacity0:hover { opacity:100; }
.hidden.hover { visibility: visible; }


.center-contents { text-align: center; }
.left-contents { text-align: left; }
.right-contents { text-align: right; }

.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }

.bottom0 { margin-bottom:0px; }
